.block-carousel {
	margin-bottom: 60px;
}

.block-carousel__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
	@media (max-width: 1279px) {
		margin-bottom: 30px;
	}
	@media (max-width: 479px) {
		margin-bottom: 15px;
	}
}