.support {
	margin-bottom: 64px;
}

.support__links {
	display: flex;
	gap: 95px;
	margin-bottom: 22px;
	@media (max-width: 767px) {
		flex-direction: column;
		gap: 10px;
	}
}

.support__link {
	font-size: 24px;
	font-weight: 400;
	font-family: Roboto;
	@media (max-width: 767px) {
		font-size: 14px;
	}
}

.support__title {
	margin-bottom: 12px;
}