doctype html
html(lang="ru")
  include ../modules/head
  body.main-page.mount-head

    .wrapper
      include ../modules/header
      block main
      include ../modules/footer
      include ../modules/script
