script(src="js/swiper-bundle.min.js")
//- script(src="js/scroll-lock.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU") 
script(src="js/ya-map.js")
script(src="js/popper.min.js")
script(src="js/tippy-bundle.umd.js")
script(src="js/air-datepicker.min.js")
script(src='js/main.js')