doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            .model 
                include modules/header
                .model__wrapper._container 
                    span.model-back-text техно <br> логии
                    .model__pic
                        img(src="img/model.png" alt="")
                        .tooltip.tooltip--1.pulse(data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы.")
                        .tooltip.tooltip--2.pulse(data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы.") 
                        .tooltip.tooltip--3.pulse(data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы.") 
                        .tooltip.tooltip--4.pulse(data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы.") 
                        .tooltip.tooltip--5.pulse(data-tippy-content="Трансмиссия Shimano обеспечивает удобный и точный выбор скоростей, придавая вашей поездке комфорт и удовольствие.")
                        .tooltip.tooltip--6.pulse(data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы.") 

            .model-charact._container 
                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item1.png" alt="")
                        span.model-charact__text Блокировка передней вилки 
                    .model-charact__content Система блокировки передней вилки наших велосипедов позволяет сделать вилку "жесткой", сокращая потери энергии и обеспечивая эффективное движения, особенно при восхождении.

                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item2.png" alt="")
                        span.model-charact__text Гидравлические тормоза
                    .model-charact__content Мы оснащаем наши велосипеды гидравлическими тормозами, обеспечивающими высокую эффективность и отличную модуляцию. Эта система надежна в любых погодных условиях и требует минимального обслуживания.


                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item3.png" alt="")
                        span.model-charact__text Технологии техноформинга
                    .model-charact__content Рама велосипеда изготовлена с использованием передовой технологии техноформинга из облегченной стали, позволяющей создавать трубы различных форм и переменных сечений. Эта технология основана на механическом воздействии на заготовку, что значительно снижает вес велосипеда и обеспечивает комфортное управление.

                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item4.png" alt="")
                        span.model-charact__text Широкие покрышки
                    .model-charact__content Наши велосипеды оснащены технологией широких покрышек, что обеспечивает дополнительное сцепление с дорогой, повышая устойчивость и контроль при катании по разнообразным покрытиям.


                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item5.png" alt="")
                        span.model-charact__text Специальная геометрия 
                    .model-charact__content Некоторые модели велосипедов имеют специальную геометрию, учитывающую особенности подростков, женщин и детей, обеспечивая максимальный комфорт во время катания.

                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item6.png" alt="")
                        span.model-charact__text LED-освещение
                    .model-charact__content  В некоторых моделях велосипедов встроено энергоэффективное LED-освещение, обеспечивающее отличную видимость в темное время суток и улучшая безопасность велосипедиста на дороге.


                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item7.png" alt="")
                        span.model-charact__text Технология аэродинамики
                    .model-charact__content Некоторые модели велосипедов воплощают в себе принципы аэродинамичного дизайна, что снижает сопротивление воздуха и повышает эффективность передвижения на высоких скоростях.

                .model-charact__item
                    .model-charact__head 
                        img(src="img/model-charact/item8.png" alt="")
                        span.model-charact__text Высоколегированная сталь
                    .model-charact__content Некоторые из наших моделей велосипедов используют высокопрочную сталь, обеспечивая рамам высокую прочность и долговечность. Это идеальное решение для тех, кто ценит надежность и долгий срок службы.


            .goods
                .goods__wrapper._container 
                    h2.goods__title.title Горные велосипеды
                    .tab#tab1
                        .goods__btns._container
                            button(data-target-id="0").goods__btns-item.tab-btn.tab-btn-active Shift
                            button(data-target-id="1").goods__btns-item.tab-btn blackount
                            button(data-target-id="2").goods__btns-item.tab-btn flagman
                            button(data-target-id="3").goods__btns-item.tab-btn SCENERIDE
                            button(data-target-id="4").goods__btns-item.tab-btn pulse
                            button(data-target-id="5").goods__btns-item.tab-btn MATCH
                            button(data-target-id="6").goods__btns-item.tab-btn KMS
                        .tab-content
                            .swiper.swiper-goods.tab-pane.tab-pane-show(data-id="0")
                                .swiper-counter-wrap 
                                    .swiper-button-prev#prev
                                        svg(width="21" height="12")
                                            use(href="#arrow-prev")
                                    .swiper-counter <span class="counter__start">1</span> ... <span class="counter__length">0</span>
                                    .swiper-button-next#next
                                        svg(width="21" height="12")
                                            use(href="#arrow-next")
                                .swiper-wrapper
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel1.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")
                            .swiper.swiper-goods.tab-pane(data-id="1")
                                .swiper-counter-wrap 
                                    .swiper-button-prev#prev
                                        svg(width="21" height="12")
                                            use(href="#arrow-prev")
                                    .swiper-counter <span class="counter__start">1</span> ... <span class="counter__length">0</span>
                                    .swiper-button-next#next
                                        svg(width="21" height="12")
                                            use(href="#arrow-next")
                                .swiper-wrapper
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel1.png" alt="")
                            .swiper.swiper-goods.tab-pane(data-id="2")
                                .swiper-counter-wrap 
                                    .swiper-button-prev#prev
                                        svg(width="21" height="12")
                                            use(href="#arrow-prev")
                                    .swiper-counter <span class="counter__start">1</span> ... <span class="counter__length">0</span>
                                    .swiper-button-next#next
                                        svg(width="21" height="12")
                                            use(href="#arrow-next")
                                .swiper-wrapper
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel1.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")
                            .swiper.swiper-goods.tab-pane(data-id="3")
                                .swiper-counter-wrap 
                                    .swiper-button-prev#prev
                                        svg(width="21" height="12")
                                            use(href="#arrow-prev")
                                    .swiper-counter <span class="counter__start">1</span> ... <span class="counter__length">0</span>
                                    .swiper-button-next#next
                                        svg(width="21" height="12")
                                            use(href="#arrow-next")
                                .swiper-wrapper
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")
                                            .goods__pic 
                                                img(src="img/vel1.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")

                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")

                            .swiper.swiper-goods.tab-pane(data-id="4")
                                .swiper-counter-wrap 
                                    .swiper-button-prev#prev
                                        svg(width="21" height="12")
                                            use(href="#arrow-prev")
                                    .swiper-counter <span class="counter__start">1</span> ... <span class="counter__length">0</span>
                                    .swiper-button-next#next
                                        svg(width="21" height="12")
                                            use(href="#arrow-next")
                                .swiper-wrapper
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel1.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")
                            .swiper.swiper-goods.tab-pane(data-id="5")
                                .swiper-counter-wrap 
                                    .swiper-button-prev#prev
                                        svg(width="21" height="12")
                                            use(href="#arrow-prev")
                                    .swiper-counter <span class="counter__start">1</span> ... <span class="counter__length">0</span>
                                    .swiper-button-next#next
                                        svg(width="21" height="12")
                                            use(href="#arrow-next")
                                .swiper-wrapper
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")
                                            .goods__pic 
                                                img(src="img/vel1.png" alt="")
                            .swiper.swiper-goods.tab-pane(data-id="6")
                                .swiper-counter-wrap 
                                    .swiper-button-prev#prev
                                        svg(width="21" height="12")
                                            use(href="#arrow-prev")
                                    .swiper-counter <span class="counter__start">1</span> ... <span class="counter__length">0</span>
                                    .swiper-button-next#next
                                        svg(width="21" height="12")
                                            use(href="#arrow-next")
                                .swiper-wrapper
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel1.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")
                                    .swiper-slide
                                        .goods__item
                                            .goods__content
                                                .goods__brend 
                                                    img(src="img/brends/item3.png" alt="")
                                                .goods__descr 
                                                    p Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.
                                                    ul.goods__list 
                                                        li.goods__list-item Механический дисковый тормоз
                                                        li.goods__list-item Яркие цвета
                                                        li.goods__list-item 21 скорость
                                                    .goods__text
                                                        p Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.
                                                    a.link-arrow(href="catalog.html") Перейти в каталог
                                                        svg(width="25" height="24")
                                                            use(href="#arrow-icn")

                                            .goods__pic 
                                                img(src="img/vel3.png" alt="")






            .categories 
                .categories__wrapper._container 
                    a.categories__link(href="")
                        h3.categories__title Велосипеды горные
                    a.categories__link(href="")
                        h3.categories__title Велосипеды детские
                    a.categories__link(href="")
                        h3.categories__title Скейтбординг
                    a.categories__link(href="")
                        h3.categories__title Самокаты детские и трюковые
                    a.categories__link(href="")
                        h3.categories__title Перейти в каталог

            .location 
                .location__wrapper._container
                    .location__head
                        h2.location__title.title Где купить?
                        .location__place Ростов-на-дону
                #map
            include modules/footer
            include modules/script



